.adduserContainer {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 2rem;
}
.userForm {
  display: flex;
  justify-content: center;
}
.inputStyle {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.1rem;
  padding: 0.2rem;
}
.innerButton {
  border-radius: 5px;
}
@media only screen and (max-width: 450px) {
  .adduserContainer {
    flex-direction: column;
  }
}
